<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="renderer" content="webkit">
    <title></title>
    <link rel="stylesheet" href="/public/admin/css/pintuer.css">
    <link rel="stylesheet" href="/public/admin/css/admin.css">
    <script src="/public/admin/js/jquery.js"></script>
    <script src="/public/admin/js/pintuer.js"></script>
    <script type="text/javascript" charset="utf-8" src="/public/editor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/public/editor/ueditor.all.min.js"> </script>
    <!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
    <!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
    <script type="text/javascript" charset="utf-8" src="/public/editor/lang/zh-cn/zh-cn.js"></script>
</head>
<body>
<div class="panel admin-panel">
    <div class="panel-head"><strong><span class="icon-key"></span> 添加新闻页面</strong></div>
    <div class="body-content">
        <form method="post" class="form-x" enctype="multipart/form-data" action="/admin/news/edit">
            <div class="form-group">
                <div class="label">
                    <label for="sitename">文章标题：</label>
                </div>
                <div class="field">
                    <input type="text" class="input" id="mpass" name="news_title" size="50" placeholder="请输入文章标题"
                           data-validate="required:请输入文章标题！" value="<%= newsData.news_title %>"/>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label for="sitename">文章关键字：</label>
                </div>
                <div class="field">
                    <input type="text" class="input" id="mpass" name="news_keywords" size="50" placeholder="请输入文章关键字"
                           data-validate="required:请输入文章关键字！" value="<%= newsData.news_keywords %>"/>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label for="sitename">文章描述：</label>
                </div>
                <div class="field">
                    <input type="text" class="input" id="mpass" name="news_description" size="50" placeholder="请输入文章描述"
                           data-validate="required:请输入文章描述！" value="<%= newsData.news_description %>"/>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label for="sitename">文章作者：</label>
                </div>
                <div class="field">
                    <input type="text" class="input" id="mpass" name="news_author" size="50" placeholder="请输入文章作者"
                           data-validate="required:请输入文章作者！" value="<%= newsData.news_author %>"/>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label for="sitename">文章分类：</label>
                </div>
                <div class="field">
                    <select name="news_cid" id="news_cid" class="input" data-validate="required:请选择文章分类！">
                        <% data.forEach(item=>{ %>
                            <% if (item.types_id == newsData.news_cid) {%>
                                <option value="<%= item.types_id %>" selected style="color: black;"><%= item.types_name %></option>
                            <% }else { %>
                                <option value="<%= item.types_id %>" style="color: black;"><%= item.types_name %></option>
                            <% } %>
                        <% }) %>
<!--                        <option value="" disabled selected style="display: none;">请选择文章分类</option>-->
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label for="sitename">文章简介：</label>
                </div>
                <div class="field">
                    <input type="text" class="input" id="mpass" name="news_info" size="50" placeholder="请输入文章简介"
                           data-validate="required:请输入文章简介！" value="<%= newsData.news_info %>"/>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label for="sitename">文章封面：</label>
                </div>
                <div class="field">
                    <input type="file" class="input" id="mpass" name="news_img"/>
                    <img src="<%= newsData.news_img %>" alt="" width="150px">
                    <input type="hidden" name="news_id" value="<%= newsData.news_id %>">
                    <input type="hidden" name="news_oldImg" value="<%= newsData.news_img %>">
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label for="sitename">文章内容：</label>
                </div>
                <div class="field">
                    <script id="editor" name="news_text" type="text/plain" style="width:100%;height:500px;"><%- newsData.news_text %></script>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label></label>
                </div>
                <div class="field">
                    <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
<script>
    let ue = UE.getEditor('editor');
</script>
</html>